.body{
    align-items: center;
}
.cardbox{
  display: flex;
  flex-direction: column;
  align-items: center;
    background: white;
 /* height: 100vh; */
 /* justify-content: center; */
}
.card{
  width: fit-content;
  max-width: 1500px;

  align-content: center;
 position: relative;
  display: flex;
  flex-direction: row;
    /* display: grid; */
    flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
 align-items: center;
 justify-content: center;
  gap: 3.5rem;
  padding: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  border: none;
  background:none;
}
.cards{  
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    height: fit-content;
    overflow-y: auto;
}
