.card-component {
    display: flex;
  flex-direction: column;
  flex-direction: column-reverse;
    align-items: center;
  padding: 0.8rem;
  background: url('/Media/instant-settlement-bg.svg') no-repeat;
  background-color: #7AB2B2;
  width:240px;   /* or max-width as needed */
  height: 450px;
  cursor: pointer;
  border-radius: 12px;
  transition: transform 0.2s, background-image 0.2s;
  box-sizing: border-box;
  gap: 20px;
  justify-content: space-evenly;
  z-index: 5;
}

.card-component:hover {
  transform: scale(1.05);
  background-image: url('/Media/instant-settlement-bghover.svg');
}

.card-component__icon {
    border-radius: 5px;
  width: 12rem;
  height: 12rem;
}

.card-component__title {
    color: aliceblue;
    text-align: center;
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: clamp(1rem, 2.5vw, 2rem);
  padding-top: 1rem;
  margin: 0;
  max-width: 220px;
}

.card-component__desc {
    text-align: center;
  font-family: 'Mullish', Arial, sans-serif;
  padding: 0.75rem 0;
  font-size: clamp(0.7rem, 2.5vw, 1.2rem);
  font-weight: bold;
  color: #0c0c0c;
  line-height: 1.6;
  max-width: 220px;
   margin-top: clamp(0.5rem,3rem,1rem);
}

.card-component__socials {
  display: flex;
  gap: 1.2rem;
  margin-top: 1.2rem;
  align-items: center;
}

.card-component__icon-social {
  width: 1.6rem;
  height: 1.6rem;
  transition: transform 0.18s;
  
}

.card-component__socials a:hover .card-component__icon-social {
  transform: scale(1.18);
}

@media (max-width:550px){
  .card-component__icon {
    height: 8rem;
    width: 8rem;
  }
  .card-component__icon-social {
     height: 1rem;
    width: 1rem;
  }
  .card-component {
   width:170px;   /* or max-width as needed */
  height: 350px;
  }
}