/* Increase dot size */
.slick-dots li button:before {
  font-size: 20px; /* Default is 6px, you can increase as needed */
  color: #75c7bc;
  opacity: 1;
  margin-top: 3.5rem;
}

/* Active dot style */
.slick-dots li.slick-active button:before {
  color: #020202;
  font-size: 25px;
}


.slick-prev:before,
.slick-next:before {
  color: black;
  font-size: 2rem;
  position: absolute;
  z-index: 4;
}

