.signup-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/Media/login-bg.png);
}

.signup-form {
  background: #fff;
  background: rgba(255, 255, 255, 0.1); /* Translucent white */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px); /* Main blur effect */
   -webkit-backdrop-filter: blur(10px); /* Safari support */
   border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 2.5rem 2rem;
  border-radius: 16px;
  box-shadow: 0 4px 24px rgba(24, 130, 247, 0.10);
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
 
}

.signup-form h2 {
  margin-bottom: 0.5rem;
  text-align: center;
  color: #1882f7;
  font-size: 2rem;
  font-weight: 700;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 90%;
}

.form-group label {
  font-size: 1rem;
  color: #ebe7e5;
  font-weight: 500;
}

.form-group input {
  padding: 0.7rem 0.9rem;
  border: 1px solid #c3d2e7;
  border-radius: 8px;
  font-size: 1rem;
  background: #f7fafc;
  transition: border-color 0.2s;
}

.form-group input:focus {
  border-color: #1882f7;
  outline: none;
  background: #fff;
}

.signup-btn {
  padding: 0.8rem 0;
  background: #1882f7;
  color: #fff;
  border: none;
  width: 200px;
  /* margin-left: 220px; */
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
  margin-top: 0.5rem;
  
}

.signup-btn:hover {
  background: #176fd1;
}

/* Responsive styles */
@media (max-width: 500px) {
  .signup-form {
    padding: 1.2rem 0.5rem;
    max-width: 98vw;
  }
}
